*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
}

img,
picture {
  block-size: auto;
}
